.javascript-symbol .icon {
	background: #7F55FF;
	color: white;
	border-radius: 14px;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
	padding: 1px 4px;
	font-size: 12px;
}
.javascript-symbol .icon.export {
	background: #208507;
}
.javascript-symbol .icon.import {
	background: #FF5555;
}